<div class="container-fluid">
    <div class="row space">
      <div class="col margin-first">
        <div class="img">
          <img src="../../../assets/images/contract.png" alt="">
        </div>
      </div>
      <div class="col margin-first">
        <div class="formulario">
          <h1>Crie o contrato do proprietário com o imóvel</h1>
          <form>
            <div class="mb-2">
              <label for="data_inicial" class="form-label">Data inicial do contrato</label>
              <input
                type="date"
                class="form-control"
                id="data_inicial"
                name="data_inicial"
                [(ngModel)]="contrato.data_inicial"
              />
            </div>
            <div class="mb-2">
                <label for="data_termino" class="form-label">Data do término do contrato</label>
                <input
                  type="date"
                  class="form-control"
                  id="data_termino"
                  name="data_termino"
                  [(ngModel)]="contrato.data_termino"
                />
            </div>
            <div class="mb-2">
                <label for="tipo_contrato" class="form-label">Data do término do contrato</label>
                <select class="form-select" id="tipo_contrato" name="tipo_contrato" [(ngModel)]="contrato.tipo_contrato">
                    <option selected disabled>Selecione</option>
                    <option value="aluguel">Aluguel</option>
                    <option value="venda">Venda</option>
                </select>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-2">
                  <label for="preco_condominio" class="form-label">Preço do Condomínio</label>
                  <input
                    type="number"
                    class="form-control"
                    id="preco_condominio"
                    name="preco_condominio"
                    [(ngModel)]="contrato.preco_condominio"
                  />
                </div>
              </div>
              <div class="col">
                <div class="mb-2">
                  <label for="preco" class="form-label">Preço do Aluguel/Venda</label>
                  <input
                    type="number"
                    class="form-control"
                    id="preco"
                    name="preco"
                    [(ngModel)]="contrato.preco"
                  />
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-lg" (click)="cadastrarContrato()">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>