/* GERAL --------------------------------------------- */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family:  'DM Sans', sans-serif;
  }
  
  /* IMAGEM     -------------------------------------------- */
  
  .img > svg {
    width: 100%;
    height: 100%;
  }
  
  .col > .img{
    display: flex;
    justify-content: center;
  }
  
  /* FORMULARIO -------------------------------------------- */
  
  h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1.6rem;
    letter-spacing: 0.053rem;
  }
  
  form > div.mb-3 > label {
    font-weight: 400;
  }
  
  .row.space {
    width: 100%;
    padding: 4rem 2rem;
  }
  
  .formulario {
    padding: 0 3rem;
  }
  
  .col.margin-first {
    margin-inline: 1.2rem;
  }
  
  button {
    background-color: #6C63FF;
    color: white;
    font-weight: 700;
    margin-top: 5rem;
    width: 100%;
  }
  
  button:hover {
    background-color: #5d56dd;
    color: #ffffff;
  }