<div class="container-fluid">
    <div class="row space">
      <div class="col margin-first my-auto">
        <div class="img-form">
          <img src="../../../assets/images/proprietario.png" alt="">
        </div>
      </div>
      <div class="col margin-first">
        <div class="formulario">
          <h1>Comece a alugar o seu imóvel!</h1>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="cliente.nome" name="nome">
            </div>
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" [(ngModel)]="cliente.telefone" name="telefone">
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="date" class="form-label">Data de Nascimento</label>
                        <input type="date" class="form-control" id="date" [(ngModel)]="cliente.data_nascimento" name="data_nascimento">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="gender" class="form-label">Sexo</label>
                        <select class="form-select" id="gender" [(ngModel)]="cliente.sexo" name="sexo">
                            <option selected disabled>Selecione seu sexo</option>
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                            <option value="não informado">Prefiro não informar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
              <label for="orientacao" class="form-label">Orientação sexual</label>
              <input type="text" class="form-control" id="orientacao" [(ngModel)]="cliente.orientacao" name="orientacao">
            </div>
            <div class="mb-3">
              <label for="nomeSocial" class="form-label">Nome social</label>
              <input type="text" class="form-control" id="nomeSocial" [(ngModel)]="cliente.nome_social" name="nome_social">
            </div>
            <div class="mb-3">
              <label for="raca" class="form-label">Raça</label>
              <select class="form-select" id="raca" [(ngModel)]="cliente.raca" name="raca">
                  <option selected disabled>Selecione</option>
                  <option value="branco">Branco</option>
                  <option value="pardo">Pardo</option>
                  <option value="preto">Preto</option>
                  <option value="amarelo">Amarelo</option>
                  <option value="indígena">Indígena</option>
              </select>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="deficiencia" class="form-label">Possui deficiência?</label>
                  <select class="form-select" id="deficiencia" [(ngModel)]="cliente.deficiencia" name="deficiencia">
                      <option selected disabled>Selecione</option>
                      <option value="true">Sim</option>
                      <option value="false">Não</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="descricao" class="form-label">Descrição da deficiência</label>
                  <input type="text" class="form-control" id="descricao" [(ngModel)]="cliente.descricao_deficiencia" name="descricao_deficiencia">
              </div>
              </div>
            </div>
            <span>Endereço</span>
            <div class="row">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="CEP" [(ngModel)]="cliente.cep" name="cep">
                </div>
            </div>
            <div class="row">
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Logradouro" [(ngModel)]="cliente.rua" name="rua"></div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="cliente.bairro" name="bairro"></div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <input type="number" class="form-control" placeholder="Número" [(ngModel)]="cliente.numero" name="numero"></div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="cliente.cidade" name="cidade"c></div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="UF" [(ngModel)]="cliente.uf" name="uf"></div>
              </div>
            </div>
            <div class="mb-3">
              <label for="tipo" class="form-label">Tipo de cadastro</label>
              <select class="form-select" id="tipo" [(ngModel)]="cliente.tipo" name="tipo">
                  <option selected disabled>Selecione</option>
                  <option value="física">Pessoa Física</option>
                  <option value="jurídica">Pessoa Jurídica</option>
              </select>
            </div>
            <h2 class="text-center">Cadastre um usuário</h2>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Nome do usuário" [(ngModel)]="cliente.username" name="username">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="cliente.password" name="password">
            </div>
            <button class="btn btn-primary" (click)="cadastrarCliente()">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
