<div class="container-fluid">
    <div class="row space">
      <div class="col margin-first my-auto">
        <div class="img-form">
          <img src="../../../assets/images/imovel.png" alt="">
        </div>
      </div>
      <div class="col margin-first">
        <div class="formulario">
          <h1>Cadastre seu imóvel aqui</h1>
          <form>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição do Imóvel</label>
                <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="imovel.descricao">
            </div>
            <span>Endereço</span>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="CEP" name="cep" [(ngModel)]="imovel.cep">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Logradouro" name="rua" [(ngModel)]="imovel.rua">
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Bairro" name="bairro" [(ngModel)]="imovel.bairro">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <input type="number" class="form-control" placeholder="Número" name="numero" [(ngModel)]="imovel.numero">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Cidade" name="cidade" [(ngModel)]="imovel.cidade">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="UF" name="uf" [(ngModel)]="imovel.uf">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="tipo" class="form-label">Localidade</label>
                <select class="form-select" id="localidade" name="localidade" [(ngModel)]="imovel.localidade">
                    <option selected disabled>Selecione</option>
                    <option value="praia">Praia</option>
                    <option value="serra">Serra</option>
                    <option value="cidade">Cidade</option>
                    <option value="ilha">Ilha</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tipo_imovel" class="form-label">Tipo de Imóvel</label>
                <select class="form-select" id="tipo_imovel" name="tipo_imovel" [(ngModel)]="imovel.tipo_imovel">
                    <option selected disabled>Selecione</option>
                    <option value="casa">Casa</option>
                    <option value="apartamento">Apartamento</option>
                    <option value="casa de hóspedes">Casa de Hóspedes</option>
                    <option value="quitinete">Quitinete</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="universidades" class="form-label">Possui universidades perto?</label>
                        <select class="form-select" id="universidades" name="universidades" [(ngModel)]="imovel.universidades_perto">
                            <option selected disabled>Selecione</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="descricao_universidade" class="form-label">Descrição da Universidade</label>
                        <input type="text" class="form-control" id="descricao_universidade" name="descricao_universidade" [(ngModel)]="imovel.descricao_universidade">
                    </div>
                </div>
            </div>
            <span>Informe a quantidade de cômodos presentes no imóvel:</span>
            <div class="row mt-3">
                <div class="col">
                    <div class="mb-3">
                        <label for="quartos" class="form-label">Quartos</label>
                        <input type="number" class="form-control" id="quartos" name="quartos" value="0" [(ngModel)]="imovel.quartos">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="salas" class="form-label">Salas</label>
                        <input type="number" class="form-control" id="salas" name="salas" value="0" [(ngModel)]="imovel.salas">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="banheiros" class="form-label">Banheiros</label>
                        <input type="number" class="form-control" id="banheiros" name="banheiros" value="0" [(ngModel)]="imovel.banheiros">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="cozinha" class="form-label">Cozinhas</label>
                        <input type="number" class="form-control" id="cozinha" name="cozinhas" value="0" [(ngModel)]="imovel.cozinhas">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin: 0px auto;">
                    <div class="mb-3">
                        <label for="vagas" class="form-label">N° de vagas</label>
                        <input type="number" class="form-control" id="vagas" name="vagas" value="0" [(ngModel)]="imovel.vagas">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="imovel.complemento">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="area_construida" class="form-label">Área construída</label>
                        <input type="number" class="form-control" id="area_construida" name="area_construida" [(ngModel)]="imovel.area_construida">
                </div>
                <div class="col">
                    <label for="area_terreno" class="form-label">Área do terreno</label>
                        <input type="number" class="form-control" id="area_terreno" name="area_terreno" [(ngModel)]="imovel.area_terreno">
                </div>
            </div>
            <div class="mb-3">
                <label for="mobiliado" class="form-label">É mobiliado?</label>
                <select class="form-select" id="mobiliado" name="mobiliado" [(ngModel)]="imovel.mobiliado">
                    <option selected disabled>Selecione</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" (click)="cadastrarImovel()">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
