.img-form{
    width: 600px;
    height: 430px;
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        height: 100%;
    }
}

h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: 0.053rem;
  }

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family:  'DM Sans', sans-serif;
  }
  
  .col > .img{
    display: flex;
    justify-content: center;
  }
  
  form > div.mb-3 > label {
    font-weight: 400;
  }
  
  .row.space {
    width: 100%;
    padding: 2rem 2rem;
  }
  
  .formulario {
    padding: 0 3rem;
  }
  
  .col.margin-first {
    margin-inline: 1rem;
  }
  
  button {
    background-color: #6C63FF;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    width: 100%;
  }
  
  button:hover {
    background-color: #5d56dd;
    color: #ffffff;
  }
