<div class="container-fluid">
  <div class="row space">
    <div class="col margin-first">
      <div class="img">
        <svg
          width="450"
          height="336"
          viewBox="0 0 374 286"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M53.4234 168.876C66.512 168.876 77.1224 158.241 77.1224 145.122C77.1224 132.003 66.512 121.368 53.4234 121.368C40.3348 121.368 29.7244 132.003 29.7244 145.122C29.7244 158.241 40.3348 168.876 53.4234 168.876Z"
            fill="#FF6584"
          />
          <path
            d="M101.956 279.296H101.932C101.098 279.295 100.298 278.962 99.7077 278.371C99.1176 277.779 98.7857 276.977 98.7847 276.141V90.9335C98.7857 90.097 99.1176 89.2951 99.7077 88.7037C100.298 88.1123 101.098 87.7796 101.932 87.7786H257.457C258.292 87.7796 259.092 88.1122 259.682 88.7037C260.272 89.2951 260.604 90.097 260.605 90.9335V234.942C260.604 235.775 260.275 236.573 259.69 237.163C259.105 237.754 258.312 238.09 257.481 238.097L101.956 279.296Z"
            fill="#F2F2F2"
          />
          <path
            d="M216.91 61.6121H144.702V19.6713C144.703 18.7857 145.054 17.9367 145.679 17.3104C146.304 16.6842 147.151 16.3319 148.034 16.3309H213.577C214.46 16.3319 215.307 16.6842 215.932 17.3104C216.557 17.9367 216.909 18.7857 216.91 19.6713V61.6121ZM145.442 60.8698H216.169V19.6713C216.168 18.9825 215.895 18.3221 215.409 17.8351C214.923 17.348 214.264 17.074 213.577 17.0732H148.034C147.347 17.074 146.688 17.348 146.202 17.8351C145.716 18.3221 145.443 18.9825 145.442 19.6713V60.8698Z"
            fill="#3F3D56"
          />
          <path
            d="M165.253 32.2906H196.358C197.144 32.2906 197.897 32.6035 198.453 33.1603C199.008 33.7172 199.32 34.4724 199.32 35.2599V79.7987H162.291V35.2599C162.291 34.4724 162.603 33.7172 163.158 33.1603C163.714 32.6035 164.467 32.2906 165.253 32.2906Z"
            fill="#E6E6E6"
          />
          <path
            d="M171.363 17.0732H156.181V1.85578C156.181 1.36377 156.377 0.892074 156.724 0.544168C157.071 0.196263 157.541 0.000562879 158.032 0H169.511C170.002 0.000562879 170.473 0.196263 170.82 0.544168C171.167 0.892074 171.362 1.36377 171.363 1.85578V17.0732ZM156.921 16.3309H170.622V1.85578C170.622 1.56057 170.505 1.27754 170.297 1.0688C170.088 0.860052 169.806 0.742636 169.511 0.742314H158.032C157.738 0.742636 157.455 0.860052 157.247 1.0688C157.039 1.27754 156.922 1.56057 156.921 1.85578V16.3309Z"
            fill="#3F3D56"
          />
          <path
            d="M296.12 240.821C295.972 240.821 295.829 240.821 295.681 240.818C286.52 240.716 277.711 237.265 270.91 231.113C270.659 230.884 270.409 230.651 270.162 230.416L270.047 230.306V159.173L270.082 159.098C270.328 158.577 270.576 158.063 270.825 157.55C278.527 141.876 287.51 133.245 296.12 133.245C308.536 133.245 318.165 150.316 322.8 160.492C329.244 174.642 333.746 192.175 333.746 203.131C333.743 213.055 329.836 222.578 322.872 229.633C315.909 236.689 306.45 240.708 296.55 240.818C296.411 240.821 296.264 240.821 296.12 240.821ZM270.788 229.988C270.993 230.182 271.2 230.374 271.407 230.563C278.076 236.594 286.713 239.977 295.694 240.075C295.844 240.079 295.986 240.075 296.13 240.079C296.264 240.079 296.402 240.079 296.536 240.076C316.648 239.852 333.005 223.278 333.005 203.13C333.005 192.271 328.531 174.864 322.126 160.8C317.565 150.787 308.122 133.988 296.12 133.988C287.807 133.988 279.06 142.471 271.49 157.876C271.256 158.36 271.02 158.847 270.788 159.339L270.788 229.988Z"
            fill="#3F3D56"
          />
          <path
            d="M296.118 285.823C296.005 285.823 295.897 285.778 295.817 285.698C295.737 285.618 295.692 285.51 295.692 285.396V198.223C295.692 198.167 295.702 198.111 295.724 198.059C295.745 198.007 295.776 197.96 295.816 197.92C295.855 197.88 295.903 197.848 295.954 197.827C296.006 197.805 296.062 197.794 296.118 197.794C296.174 197.794 296.23 197.805 296.282 197.827C296.333 197.848 296.381 197.88 296.42 197.92C296.46 197.96 296.491 198.007 296.512 198.059C296.534 198.111 296.544 198.167 296.544 198.223V285.396C296.544 285.51 296.499 285.618 296.419 285.698C296.339 285.778 296.231 285.823 296.118 285.823V285.823Z"
            fill="#CCCCCC"
          />
          <path
            d="M75.0507 285.823C74.9377 285.823 74.8293 285.778 74.7494 285.698C74.6695 285.618 74.6246 285.51 74.6246 285.396V198.223C74.6243 198.167 74.6351 198.111 74.6563 198.059C74.6776 198.007 74.7089 197.96 74.7485 197.92C74.7881 197.88 74.8352 197.848 74.8871 197.827C74.9389 197.805 74.9945 197.794 75.0507 197.794C75.1068 197.794 75.1624 197.805 75.2143 197.827C75.2661 197.848 75.3132 197.88 75.3528 197.92C75.3924 197.96 75.4237 198.007 75.445 198.059C75.4662 198.111 75.477 198.167 75.4767 198.223V285.396C75.4767 285.51 75.4318 285.618 75.3519 285.698C75.272 285.778 75.1637 285.823 75.0507 285.823V285.823Z"
            fill="#CCCCCC"
          />
          <path
            d="M296.118 214.51C296.057 214.511 295.997 214.497 295.941 214.472C295.886 214.447 295.836 214.41 295.796 214.363L274.369 189.596C274.296 189.51 274.259 189.399 274.267 189.286C274.275 189.173 274.327 189.068 274.413 188.994C274.498 188.92 274.609 188.883 274.722 188.891C274.834 188.899 274.939 188.951 275.013 189.036L296.44 213.804C296.493 213.865 296.528 213.941 296.54 214.022C296.551 214.103 296.539 214.186 296.506 214.261C296.472 214.335 296.417 214.398 296.349 214.442C296.28 214.487 296.2 214.51 296.118 214.51V214.51Z"
            fill="#CCCCCC"
          />
          <path
            d="M296.118 228.804C296.034 228.804 295.951 228.779 295.881 228.732C295.811 228.685 295.757 228.619 295.724 228.54C295.692 228.462 295.684 228.377 295.7 228.294C295.717 228.211 295.757 228.135 295.817 228.075L307.992 215.872C308.072 215.792 308.18 215.747 308.293 215.747C308.406 215.748 308.514 215.793 308.593 215.872C308.673 215.952 308.718 216.061 308.718 216.174C308.718 216.287 308.674 216.395 308.594 216.475L296.419 228.679C296.38 228.719 296.333 228.75 296.281 228.772C296.229 228.793 296.174 228.804 296.118 228.804V228.804Z"
            fill="#CCCCCC"
          />
          <path
            d="M335.535 286H303.688V285.629C303.687 283.532 304.098 281.456 304.897 279.519C305.697 277.581 306.87 275.821 308.349 274.338C309.828 272.855 311.583 271.679 313.516 270.876C315.448 270.074 317.52 269.66 319.611 269.66C321.703 269.66 323.774 270.074 325.707 270.876C327.639 271.679 329.395 272.855 330.874 274.338C332.353 275.821 333.525 277.581 334.325 279.519C335.125 281.456 335.536 283.532 335.535 285.629L335.535 286ZM304.433 285.258H334.79C334.693 281.287 333.052 277.511 330.216 274.737C327.38 271.963 323.574 270.41 319.611 270.41C315.649 270.41 311.843 271.963 309.007 274.737C306.171 277.511 304.529 281.287 304.433 285.258H304.433Z"
            fill="#3F3D56"
          />
          <path
            d="M319.611 276.57C319.5 276.57 319.393 276.614 319.314 276.693C319.235 276.772 319.191 276.88 319.191 276.991V281.467L314.841 277.725C314.799 277.689 314.75 277.661 314.698 277.644C314.645 277.627 314.59 277.62 314.535 277.624C314.48 277.628 314.426 277.643 314.377 277.668C314.327 277.693 314.283 277.727 314.247 277.77C314.211 277.812 314.184 277.86 314.167 277.913C314.149 277.966 314.143 278.021 314.147 278.077C314.151 278.132 314.166 278.186 314.191 278.235C314.217 278.284 314.251 278.328 314.293 278.364L319.191 282.578V285.207C319.191 285.263 319.201 285.318 319.223 285.369C319.244 285.42 319.275 285.467 319.314 285.506C319.353 285.545 319.399 285.577 319.45 285.598C319.501 285.619 319.556 285.63 319.611 285.63C319.667 285.63 319.721 285.619 319.772 285.598C319.823 285.577 319.87 285.545 319.909 285.506C319.948 285.467 319.979 285.42 320 285.369C320.021 285.318 320.032 285.263 320.032 285.207V276.991C320.032 276.88 319.987 276.772 319.908 276.693C319.83 276.614 319.723 276.57 319.611 276.57Z"
            fill="#3F3D56"
          />
          <path
            d="M68.5509 286H36.7034V285.629C36.7024 283.532 37.1136 281.456 37.9134 279.519C38.7131 277.581 39.8859 275.821 41.3647 274.338C42.8434 272.855 44.5992 271.679 46.5316 270.876C48.4641 270.074 50.5354 269.66 52.6272 269.66C54.7189 269.66 56.7902 270.074 58.7227 270.876C60.6551 271.679 62.4109 272.855 63.8896 274.338C65.3684 275.821 66.5412 277.581 67.341 279.519C68.1408 281.456 68.5519 283.532 68.5509 285.629L68.5509 286ZM37.4485 285.258H67.8059C67.7092 281.287 66.0676 277.511 63.2316 274.737C60.3956 271.963 56.5899 270.41 52.6272 270.41C48.6644 270.41 44.8587 271.963 42.0227 274.737C39.1867 277.511 37.5451 281.287 37.4485 285.258H37.4485Z"
            fill="#3F3D56"
          />
          <path
            d="M52.6271 276.57C52.5156 276.57 52.4087 276.614 52.3298 276.693C52.251 276.772 52.2067 276.88 52.2067 276.991V281.467L47.8566 277.725C47.8148 277.689 47.7662 277.661 47.7137 277.644C47.6612 277.627 47.6057 277.62 47.5506 277.624C47.4955 277.628 47.4417 277.643 47.3923 277.668C47.343 277.693 47.2991 277.727 47.263 277.77C47.227 277.812 47.1996 277.86 47.1825 277.913C47.1653 277.966 47.1586 278.021 47.1629 278.077C47.1671 278.132 47.1822 278.186 47.2073 278.235C47.2324 278.284 47.2669 278.328 47.309 278.364L52.2067 282.578V285.207C52.2065 285.263 52.2173 285.318 52.2383 285.369C52.2594 285.42 52.2903 285.467 52.3294 285.506C52.3684 285.545 52.4148 285.577 52.4659 285.598C52.517 285.619 52.5718 285.63 52.6271 285.63C52.6824 285.63 52.7372 285.619 52.7883 285.598C52.8393 285.577 52.8857 285.545 52.9248 285.506C52.9638 285.467 52.9948 285.42 53.0158 285.369C53.0369 285.318 53.0476 285.263 53.0475 285.207V276.991C53.0475 276.88 53.0032 276.772 52.9243 276.693C52.8455 276.614 52.7386 276.57 52.6271 276.57V276.57Z"
            fill="#3F3D56"
          />
          <path
            d="M75.4228 240.821C75.2752 240.821 75.1315 240.821 74.9839 240.818C65.0842 240.706 55.6276 236.686 48.6654 229.631C41.7031 222.576 37.7966 213.054 37.7932 203.131C37.7932 192.175 42.2945 174.642 48.7397 160.492C53.3747 150.316 63.0047 133.245 75.4228 133.245C80.5377 133.245 85.6883 136.167 90.7315 141.931C90.9815 142.215 91.2322 142.508 91.4793 142.808L91.564 142.91V237.179L91.3551 237.281C91.1059 237.402 90.8531 237.515 90.6002 237.625C85.953 239.686 80.9342 240.773 75.8525 240.818C75.7143 240.821 75.5666 240.821 75.4228 240.821ZM75.4228 133.988C63.4189 133.988 53.9746 150.787 49.4134 160.8C43.0076 174.863 38.5337 192.27 38.5337 203.131C38.5337 223.275 54.8913 239.848 74.9973 240.075C75.1471 240.079 75.2869 240.08 75.4326 240.079C75.567 240.079 75.7048 240.079 75.8391 240.076C80.8231 240.032 85.7455 238.967 90.3034 236.945C90.4781 236.869 90.6516 236.792 90.8234 236.712V143.178C90.609 142.92 90.3921 142.667 90.1754 142.421C85.2783 136.825 80.3151 133.988 75.4228 133.988V133.988Z"
            fill="#3F3D56"
          />
          <path
            d="M75.4212 214.51C75.3601 214.511 75.2997 214.497 75.2441 214.472C75.1886 214.447 75.1391 214.41 75.0991 214.363L53.6723 189.596C53.5986 189.51 53.5617 189.399 53.5698 189.286C53.578 189.173 53.6304 189.068 53.7157 188.994C53.8009 188.92 53.912 188.883 54.0246 188.891C54.1372 188.899 54.2421 188.951 54.3162 189.036L75.7429 213.804C75.7964 213.865 75.831 213.941 75.8427 214.022C75.8543 214.103 75.8425 214.186 75.8086 214.261C75.7747 214.335 75.7202 214.398 75.6515 214.442C75.5828 214.487 75.5029 214.51 75.4212 214.51V214.51Z"
            fill="#CCCCCC"
          />
          <path
            d="M75.421 228.804C75.3367 228.804 75.2544 228.779 75.1843 228.732C75.1143 228.685 75.0597 228.619 75.0274 228.54C74.9952 228.462 74.9867 228.377 75.0032 228.294C75.0196 228.211 75.0602 228.135 75.1198 228.075L87.2948 215.872C87.3748 215.792 87.483 215.747 87.5958 215.747C87.7086 215.748 87.8167 215.793 87.8964 215.872C87.9762 215.952 88.021 216.061 88.0212 216.174C88.0213 216.287 87.9768 216.395 87.8973 216.475L75.7222 228.679C75.6827 228.719 75.6357 228.75 75.5841 228.772C75.5324 228.793 75.4769 228.804 75.421 228.804Z"
            fill="#CCCCCC"
          />
          <path
            d="M108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804ZM223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93L223.205 65.1232ZM235.676 65.3236C235.632 65.5058 235.609 65.6928 235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676ZM206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637L206.911 65.1232ZM219.383 65.3236C219.339 65.5058 219.316 65.6928 219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383ZM190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344L190.618 65.1232ZM203.09 65.3236C203.046 65.5058 203.023 65.6928 203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09ZM174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051L174.325 65.1232ZM186.797 65.3236C186.753 65.5058 186.73 65.6928 186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797ZM158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758L158.032 65.1232ZM170.504 65.3236C170.459 65.5058 170.437 65.6928 170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504ZM141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465L141.739 65.1232ZM154.211 65.3236C154.166 65.5058 154.144 65.6928 154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211ZM125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172L125.446 65.1232ZM137.918 65.3236C137.873 65.5058 137.851 65.6928 137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918ZM109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879L109.153 65.1232ZM121.625 65.3236C121.58 65.5058 121.558 65.6928 121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625ZM239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224L239.498 65.1232ZM251.969 65.3236C251.925 65.5058 251.902 65.6928 251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969ZM223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93L223.205 65.1232ZM235.676 65.3236C235.632 65.5058 235.609 65.6928 235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676ZM206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637L206.911 65.1232ZM219.383 65.3236C219.339 65.5058 219.316 65.6928 219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383ZM190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344L190.618 65.1232ZM203.09 65.3236C203.046 65.5058 203.023 65.6928 203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09ZM174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051L174.325 65.1232ZM186.797 65.3236C186.753 65.5058 186.73 65.6928 186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797ZM158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758L158.032 65.1232ZM170.504 65.3236C170.459 65.5058 170.437 65.6928 170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504ZM141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465L141.739 65.1232ZM154.211 65.3236C154.166 65.5058 154.144 65.6928 154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211ZM125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172L125.446 65.1232ZM137.918 65.3236C137.873 65.5058 137.851 65.6928 137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918ZM109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879L109.153 65.1232ZM121.625 65.3236C121.58 65.5058 121.558 65.6928 121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625ZM267.455 82.768H263.041C262.798 81.9142 262.284 81.1628 261.577 80.6272C260.871 80.0917 260.009 79.8009 259.123 79.7988H256.716V65.8804C256.717 65.5816 256.661 65.2854 256.55 65.0082C256.969 64.7605 257.296 64.3813 257.479 63.9292C257.662 63.477 257.692 62.9769 257.564 62.5062C257.435 62.0354 257.156 61.6201 256.768 61.3244C256.381 61.0286 255.907 60.8689 255.42 60.8698H106.561C106.074 60.8689 105.6 61.0286 105.213 61.3244C104.826 61.6201 104.546 62.0354 104.418 62.5062C104.289 62.9769 104.319 63.477 104.502 63.9292C104.685 64.3813 105.012 64.7605 105.432 65.0082C105.321 65.2854 105.264 65.5816 105.265 65.8804V79.7988H102.858C101.972 79.8009 101.111 80.0917 100.404 80.6272C99.6975 81.1628 99.1837 81.9142 98.9403 82.768H94.156C93.2726 82.7693 92.4257 83.1217 91.801 83.7479C91.1762 84.374 90.8247 85.2229 90.8234 86.1084V282.079C90.8253 282.965 91.177 283.813 91.8016 284.439C92.4262 285.065 93.2727 285.418 94.156 285.42H267.455C268.339 285.418 269.185 285.066 269.81 284.44C270.435 283.814 270.786 282.965 270.788 282.079V86.1084C270.786 85.2229 270.435 84.374 269.81 83.7479C269.185 83.1217 268.339 82.7693 267.455 82.768V82.768ZM270.047 282.079C270.047 282.61 269.884 283.127 269.582 283.562C269.279 283.998 268.851 284.33 268.355 284.514C268.068 284.624 267.763 284.679 267.455 284.677H94.156C93.8486 284.679 93.5435 284.624 93.2562 284.514C92.76 284.33 92.332 283.998 92.0295 283.562C91.727 283.127 91.5646 282.61 91.564 282.079V86.1084C91.5647 85.4196 91.8381 84.7592 92.324 84.2721C92.81 83.7851 93.4688 83.5111 94.156 83.5103H99.5328L99.5921 83.2134C99.7478 82.4599 100.157 81.7831 100.752 81.2965C101.347 80.8099 102.09 80.5431 102.858 80.5411H106.006V65.8804C106.006 65.5783 106.088 65.282 106.243 65.023L106.472 64.6407L106.054 64.4848C105.727 64.366 105.452 64.1354 105.278 63.8335C105.104 63.5317 105.042 63.1779 105.102 62.8347C105.163 62.4914 105.343 62.1805 105.609 61.9569C105.876 61.7333 106.213 61.6111 106.561 61.6121H255.42C255.768 61.6111 256.105 61.7332 256.372 61.9569C256.639 62.1805 256.818 62.4914 256.879 62.8347C256.94 63.1779 256.877 63.5317 256.703 63.8335C256.529 64.1354 256.255 64.366 255.928 64.4848L255.509 64.6407L255.739 65.023C255.894 65.282 255.976 65.5783 255.976 65.8804V80.5411H259.123C259.891 80.5431 260.635 80.8098 261.229 81.2964C261.824 81.783 262.234 82.4599 262.389 83.2134L262.449 83.5103H267.455C268.142 83.5111 268.801 83.7851 269.287 84.2721C269.773 84.7592 270.046 85.4196 270.047 86.1084L270.047 282.079ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804V65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804V65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804V65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804V65.8804ZM108.879 64.5813L109.153 65.1232C109.275 65.357 109.338 65.6167 109.338 65.8804V80.5411H122.299V65.8804C122.299 65.6167 122.362 65.357 122.484 65.1232L122.758 64.5813H108.879ZM121.558 65.8804V79.7988H110.079V65.8804C110.079 65.6928 110.057 65.5058 110.012 65.3236H121.625C121.58 65.5058 121.558 65.6928 121.558 65.8804V65.8804ZM125.172 64.5813L125.446 65.1232C125.568 65.357 125.631 65.6167 125.631 65.8804V80.5411H138.592V65.8804C138.592 65.6167 138.655 65.357 138.777 65.1232L139.051 64.5813H125.172ZM137.851 65.8804V79.7988H126.372V65.8804C126.372 65.6928 126.35 65.5058 126.305 65.3236H137.918C137.873 65.5058 137.851 65.6928 137.851 65.8804V65.8804ZM141.465 64.5813L141.739 65.1232C141.861 65.357 141.924 65.6167 141.924 65.8804V80.5411H154.885V65.8804C154.885 65.6167 154.948 65.357 155.07 65.1232L155.344 64.5813H141.465ZM154.144 65.8804V79.7988H142.665V65.8804C142.665 65.6928 142.643 65.5058 142.598 65.3236H154.211C154.166 65.5058 154.144 65.6928 154.144 65.8804V65.8804ZM157.758 64.5813L158.032 65.1232C158.154 65.357 158.217 65.6167 158.217 65.8804V80.5411H171.178V65.8804C171.178 65.6167 171.242 65.357 171.363 65.1232L171.637 64.5813H157.758ZM170.437 65.8804V79.7988H158.958V65.8804C158.958 65.6928 158.936 65.5058 158.891 65.3236H170.504C170.459 65.5058 170.437 65.6928 170.437 65.8804V65.8804ZM174.051 64.5813L174.325 65.1232C174.447 65.357 174.51 65.6167 174.511 65.8804V80.5411H187.471V65.8804C187.471 65.6167 187.535 65.357 187.656 65.1232L187.93 64.5813H174.051ZM186.73 65.8804V79.7988H175.251V65.8804C175.251 65.6928 175.229 65.5058 175.184 65.3236H186.797C186.753 65.5058 186.73 65.6928 186.73 65.8804V65.8804ZM190.344 64.5813L190.618 65.1232C190.74 65.357 190.803 65.6167 190.804 65.8804V80.5411H203.764V65.8804C203.764 65.6167 203.828 65.357 203.949 65.1232L204.223 64.5813H190.344ZM203.023 65.8804V79.7988H191.544V65.8804C191.544 65.6928 191.522 65.5058 191.477 65.3236H203.09C203.046 65.5058 203.023 65.6928 203.023 65.8804V65.8804ZM206.637 64.5813L206.911 65.1232C207.033 65.357 207.096 65.6167 207.097 65.8804V80.5411H220.057V65.8804C220.057 65.6167 220.121 65.357 220.242 65.1232L220.516 64.5813H206.637ZM219.316 65.8804V79.7988H207.837V65.8804C207.837 65.6928 207.815 65.5058 207.771 65.3236H219.383C219.339 65.5058 219.316 65.6928 219.316 65.8804V65.8804ZM222.93 64.5813L223.205 65.1232C223.326 65.357 223.39 65.6167 223.39 65.8804V80.5411H236.35V65.8804C236.35 65.6167 236.414 65.357 236.535 65.1232L236.809 64.5813H222.93ZM235.61 65.8804V79.7988H224.13V65.8804C224.131 65.6928 224.108 65.5058 224.064 65.3236H235.676C235.632 65.5058 235.609 65.6928 235.61 65.8804V65.8804ZM239.224 64.5813L239.498 65.1232C239.619 65.357 239.683 65.6167 239.683 65.8804V80.5411H252.643V65.8804C252.643 65.6167 252.707 65.357 252.828 65.1232L253.102 64.5813H239.224ZM251.903 65.8804V79.7988H240.423V65.8804C240.424 65.6928 240.401 65.5058 240.357 65.3236H251.969C251.925 65.5058 251.902 65.6928 251.903 65.8804V65.8804Z"
            fill="#3F3D56"
          />
          <path
            d="M152.904 129.534H125.598C125.022 129.533 124.471 129.304 124.064 128.896C123.658 128.489 123.429 127.936 123.428 127.36V112.779C123.429 112.203 123.658 111.65 124.064 111.242C124.471 110.835 125.022 110.605 125.598 110.605H152.904C153.48 110.605 154.031 110.835 154.438 111.242C154.844 111.65 155.073 112.203 155.074 112.779V127.36C155.073 127.936 154.844 128.489 154.438 128.896C154.031 129.304 153.48 129.533 152.904 129.534V129.534Z"
            fill="#6C63FF"
          />
          <path
            d="M194.459 129.534H167.152C166.577 129.533 166.026 129.304 165.619 128.896C165.212 128.489 164.983 127.936 164.983 127.36V112.779C164.983 112.203 165.212 111.65 165.619 111.242C166.026 110.835 166.577 110.605 167.152 110.605H194.459C195.034 110.605 195.586 110.835 195.992 111.242C196.399 111.65 196.628 112.203 196.628 112.779V127.36C196.628 127.936 196.399 128.489 195.992 128.896C195.586 129.304 195.034 129.533 194.459 129.534V129.534Z"
            fill="#6C63FF"
          />
          <path
            d="M236.014 129.534H208.707C208.132 129.533 207.58 129.304 207.173 128.896C206.767 128.489 206.538 127.936 206.537 127.36V112.779C206.538 112.203 206.767 111.65 207.173 111.242C207.58 110.835 208.132 110.605 208.707 110.605H236.014C236.589 110.605 237.14 110.835 237.547 111.242C237.953 111.65 238.182 112.203 238.183 112.779V127.36C238.182 127.936 237.953 128.489 237.547 128.896C237.14 129.304 236.589 129.533 236.014 129.534V129.534Z"
            fill="#6C63FF"
          />
          <path
            d="M152.904 178.155H125.598C125.022 178.155 124.471 177.925 124.064 177.518C123.658 177.11 123.429 176.558 123.428 175.981V161.401C123.429 160.824 123.658 160.271 124.064 159.864C124.471 159.456 125.022 159.227 125.598 159.226H152.904C153.48 159.227 154.031 159.456 154.438 159.864C154.844 160.271 155.073 160.824 155.074 161.401V175.981C155.073 176.558 154.844 177.11 154.438 177.518C154.031 177.925 153.48 178.155 152.904 178.155V178.155Z"
            fill="#6C63FF"
          />
          <path
            d="M194.459 178.155H167.152C166.577 178.155 166.026 177.925 165.619 177.518C165.212 177.11 164.983 176.558 164.983 175.981V161.401C164.983 160.824 165.212 160.271 165.619 159.864C166.026 159.456 166.577 159.227 167.152 159.226H194.459C195.034 159.227 195.586 159.456 195.992 159.864C196.399 160.271 196.628 160.824 196.628 161.401V175.981C196.628 176.558 196.399 177.11 195.992 177.518C195.586 177.925 195.034 178.155 194.459 178.155V178.155Z"
            fill="#6C63FF"
          />
          <path
            d="M236.014 178.155H208.707C208.132 178.155 207.58 177.925 207.173 177.518C206.767 177.11 206.538 176.558 206.537 175.981V161.401C206.538 160.824 206.767 160.271 207.173 159.864C207.58 159.456 208.132 159.227 208.707 159.226H236.014C236.589 159.227 237.14 159.456 237.547 159.864C237.953 160.271 238.182 160.824 238.183 161.401V175.981C238.182 176.558 237.953 177.11 237.547 177.518C237.14 177.925 236.589 178.155 236.014 178.155V178.155Z"
            fill="#6C63FF"
          />
          <path
            d="M152.904 226.777H125.598C125.022 226.776 124.471 226.547 124.064 226.139C123.658 225.732 123.429 225.179 123.428 224.603V210.022C123.429 209.446 123.658 208.893 124.064 208.485C124.471 208.078 125.022 207.849 125.598 207.848H152.904C153.48 207.849 154.031 208.078 154.438 208.485C154.844 208.893 155.073 209.446 155.074 210.022V224.603C155.073 225.179 154.844 225.732 154.438 226.139C154.031 226.547 153.48 226.776 152.904 226.777V226.777Z"
            fill="#6C63FF"
          />
          <path
            d="M194.459 226.777H167.152C166.577 226.776 166.026 226.547 165.619 226.139C165.212 225.732 164.983 225.179 164.983 224.603V210.022C164.983 209.446 165.212 208.893 165.619 208.485C166.026 208.078 166.577 207.849 167.152 207.848H194.459C195.034 207.849 195.586 208.078 195.992 208.485C196.399 208.893 196.628 209.446 196.628 210.022V224.603C196.628 225.179 196.399 225.732 195.992 226.139C195.586 226.547 195.034 226.776 194.459 226.777V226.777Z"
            fill="#6C63FF"
          />
          <path
            d="M236.014 226.777H208.707C208.132 226.776 207.58 226.547 207.173 226.139C206.767 225.732 206.538 225.179 206.537 224.603V210.022C206.538 209.446 206.767 208.893 207.173 208.485C207.58 208.078 208.132 207.849 208.707 207.848H236.014C236.589 207.849 237.14 208.078 237.547 208.485C237.953 208.893 238.182 209.446 238.183 210.022V224.603C238.182 225.179 237.953 225.732 237.547 226.139C237.14 226.547 236.589 226.776 236.014 226.777V226.777Z"
            fill="#6C63FF"
          />
          <path
            d="M148.484 131.405H116.85C116.086 131.404 115.353 131.099 114.812 130.557C114.272 130.015 113.968 129.281 113.967 128.515V111.624C113.968 110.858 114.272 110.123 114.812 109.581C115.353 109.04 116.086 108.735 116.85 108.734H148.484C149.248 108.735 149.981 109.04 150.521 109.581C151.062 110.123 151.366 110.858 151.367 111.624V128.515C151.366 129.281 151.062 130.015 150.521 130.557C149.981 131.099 149.248 131.404 148.484 131.405V131.405ZM116.85 109.476C116.282 109.477 115.737 109.703 115.336 110.106C114.934 110.509 114.708 111.055 114.708 111.624V128.515C114.708 129.084 114.934 129.63 115.336 130.033C115.737 130.435 116.282 130.662 116.85 130.662H148.484C149.052 130.662 149.596 130.435 149.998 130.033C150.4 129.63 150.626 129.084 150.626 128.515V111.624C150.626 111.055 150.4 110.509 149.998 110.106C149.596 109.703 149.052 109.477 148.484 109.476H116.85Z"
            fill="#3F3D56"
          />
          <path
            d="M196.622 131.405H164.989C164.224 131.404 163.492 131.099 162.951 130.557C162.41 130.015 162.106 129.281 162.106 128.515V111.624C162.106 110.858 162.41 110.123 162.951 109.581C163.492 109.04 164.224 108.735 164.989 108.734H196.622C197.387 108.735 198.12 109.04 198.66 109.581C199.201 110.123 199.505 110.858 199.506 111.624V128.515C199.505 129.281 199.201 130.015 198.66 130.557C198.12 131.099 197.387 131.404 196.622 131.405ZM164.989 109.476C164.421 109.477 163.876 109.703 163.474 110.106C163.073 110.509 162.847 111.055 162.846 111.624V128.515C162.847 129.084 163.073 129.63 163.474 130.033C163.876 130.435 164.421 130.662 164.989 130.662H196.622C197.19 130.662 197.735 130.435 198.137 130.033C198.538 129.63 198.764 129.084 198.765 128.515V111.624C198.764 111.055 198.538 110.509 198.137 110.106C197.735 109.703 197.19 109.477 196.622 109.476H164.989Z"
            fill="#3F3D56"
          />
          <path
            d="M244.761 131.405H213.127C212.363 131.404 211.63 131.099 211.09 130.557C210.549 130.015 210.245 129.281 210.244 128.515V111.624C210.245 110.858 210.549 110.123 211.09 109.581C211.63 109.04 212.363 108.735 213.127 108.734H244.761C245.525 108.735 246.258 109.04 246.799 109.581C247.339 110.123 247.643 110.858 247.644 111.624V128.515C247.643 129.281 247.339 130.015 246.799 130.557C246.258 131.099 245.525 131.404 244.761 131.405ZM213.127 109.476C212.559 109.477 212.015 109.703 211.613 110.106C211.211 110.509 210.985 111.055 210.985 111.624V128.515C210.985 129.084 211.211 129.63 211.613 130.033C212.015 130.435 212.559 130.662 213.127 130.662H244.761C245.329 130.662 245.874 130.435 246.275 130.033C246.677 129.63 246.903 129.084 246.904 128.515V111.624C246.903 111.055 246.677 110.509 246.275 110.106C245.874 109.703 245.329 109.477 244.761 109.476H213.127Z"
            fill="#3F3D56"
          />
          <path
            d="M148.484 180.026H116.85C116.086 180.025 115.353 179.721 114.812 179.179C114.272 178.637 113.968 177.902 113.967 177.136V160.246C113.968 159.479 114.272 158.745 114.812 158.203C115.353 157.661 116.086 157.356 116.85 157.356H148.484C149.248 157.356 149.981 157.661 150.521 158.203C151.062 158.745 151.366 159.479 151.367 160.246V177.136C151.366 177.902 151.062 178.637 150.521 179.179C149.981 179.721 149.248 180.025 148.484 180.026V180.026ZM116.85 158.098C116.282 158.098 115.737 158.325 115.336 158.728C114.934 159.13 114.708 159.676 114.708 160.246V177.136C114.708 177.706 114.934 178.251 115.336 178.654C115.737 179.057 116.282 179.283 116.85 179.284H148.484C149.052 179.283 149.596 179.057 149.998 178.654C150.4 178.251 150.626 177.706 150.626 177.136V160.246C150.626 159.676 150.4 159.13 149.998 158.728C149.596 158.325 149.052 158.098 148.484 158.098H116.85Z"
            fill="#3F3D56"
          />
          <path
            d="M196.622 180.026H164.989C164.224 180.025 163.492 179.721 162.951 179.179C162.41 178.637 162.106 177.902 162.106 177.136V160.246C162.106 159.479 162.41 158.745 162.951 158.203C163.492 157.661 164.224 157.356 164.989 157.356H196.622C197.387 157.356 198.12 157.661 198.66 158.203C199.201 158.745 199.505 159.479 199.506 160.246V177.136C199.505 177.902 199.201 178.637 198.66 179.179C198.12 179.721 197.387 180.025 196.622 180.026ZM164.989 158.098C164.421 158.098 163.876 158.325 163.474 158.728C163.073 159.13 162.847 159.676 162.846 160.246V177.136C162.847 177.706 163.073 178.251 163.474 178.654C163.876 179.057 164.421 179.283 164.989 179.284H196.622C197.19 179.283 197.735 179.057 198.137 178.654C198.538 178.251 198.764 177.706 198.765 177.136V160.246C198.764 159.676 198.538 159.13 198.137 158.728C197.735 158.325 197.19 158.098 196.622 158.098H164.989Z"
            fill="#3F3D56"
          />
          <path
            d="M244.761 180.026H213.127C212.363 180.025 211.63 179.721 211.09 179.179C210.549 178.637 210.245 177.902 210.244 177.136V160.246C210.245 159.479 210.549 158.745 211.09 158.203C211.63 157.661 212.363 157.356 213.127 157.356H244.761C245.525 157.356 246.258 157.661 246.799 158.203C247.339 158.745 247.643 159.479 247.644 160.246V177.136C247.643 177.902 247.339 178.637 246.799 179.179C246.258 179.721 245.525 180.025 244.761 180.026ZM213.127 158.098C212.559 158.098 212.015 158.325 211.613 158.728C211.211 159.13 210.985 159.676 210.985 160.246V177.136C210.985 177.706 211.211 178.251 211.613 178.654C212.015 179.057 212.559 179.283 213.127 179.284H244.761C245.329 179.283 245.874 179.057 246.275 178.654C246.677 178.251 246.903 177.706 246.904 177.136V160.246C246.903 159.676 246.677 159.13 246.275 158.728C245.874 158.325 245.329 158.098 244.761 158.098H213.127Z"
            fill="#3F3D56"
          />
          <path
            d="M148.484 228.648H116.85C116.086 228.647 115.353 228.342 114.812 227.8C114.272 227.258 113.968 226.524 113.967 225.758V208.867C113.968 208.101 114.272 207.366 114.812 206.825C115.353 206.283 116.086 205.978 116.85 205.977H148.484C149.248 205.978 149.981 206.283 150.521 206.825C151.062 207.366 151.366 208.101 151.367 208.867V225.758C151.366 226.524 151.062 227.258 150.521 227.8C149.981 228.342 149.248 228.647 148.484 228.648V228.648ZM116.85 206.719C116.282 206.72 115.737 206.947 115.336 207.349C114.934 207.752 114.708 208.298 114.708 208.867V225.758C114.708 226.327 114.934 226.873 115.336 227.276C115.737 227.678 116.282 227.905 116.85 227.905H148.484C149.052 227.905 149.596 227.678 149.998 227.276C150.4 226.873 150.626 226.327 150.626 225.758V208.867C150.626 208.298 150.4 207.752 149.998 207.349C149.596 206.946 149.052 206.72 148.484 206.719H116.85Z"
            fill="#3F3D56"
          />
          <path
            d="M196.622 228.648H164.989C164.224 228.647 163.492 228.342 162.951 227.8C162.41 227.258 162.106 226.524 162.106 225.758V208.867C162.106 208.101 162.41 207.366 162.951 206.825C163.492 206.283 164.224 205.978 164.989 205.977H196.622C197.387 205.978 198.12 206.283 198.66 206.825C199.201 207.366 199.505 208.101 199.506 208.867V225.758C199.505 226.524 199.201 227.258 198.66 227.8C198.12 228.342 197.387 228.647 196.622 228.648V228.648ZM164.989 206.719C164.421 206.72 163.876 206.946 163.474 207.349C163.073 207.752 162.847 208.298 162.846 208.867V225.758C162.847 226.327 163.073 226.873 163.474 227.276C163.876 227.678 164.421 227.905 164.989 227.905H196.622C197.19 227.905 197.735 227.678 198.137 227.276C198.538 226.873 198.764 226.327 198.765 225.758V208.867C198.764 208.298 198.538 207.752 198.137 207.349C197.735 206.946 197.19 206.72 196.622 206.719H164.989Z"
            fill="#3F3D56"
          />
          <path
            d="M244.761 228.648H213.127C212.363 228.647 211.63 228.342 211.09 227.8C210.549 227.258 210.245 226.524 210.244 225.758V208.867C210.245 208.101 210.549 207.366 211.09 206.825C211.63 206.283 212.363 205.978 213.127 205.977H244.761C245.525 205.978 246.258 206.283 246.799 206.825C247.339 207.366 247.643 208.101 247.644 208.867V225.758C247.643 226.524 247.339 227.258 246.799 227.8C246.258 228.342 245.525 228.647 244.761 228.648V228.648ZM213.127 206.719C212.559 206.72 212.015 206.946 211.613 207.349C211.211 207.752 210.985 208.298 210.985 208.867V225.758C210.985 226.327 211.211 226.873 211.613 227.276C212.015 227.678 212.559 227.905 213.127 227.905H244.761C245.329 227.905 245.874 227.678 246.275 227.276C246.677 226.873 246.903 226.327 246.904 225.758V208.867C246.903 208.298 246.677 207.752 246.275 207.349C245.874 206.946 245.329 206.72 244.761 206.719H213.127Z"
            fill="#3F3D56"
          />
          <path
            d="M373.63 285.976H0.370297C0.272088 285.976 0.177901 285.937 0.108457 285.868C0.039013 285.798 0 285.704 0 285.605C0 285.507 0.039013 285.412 0.108457 285.343C0.177901 285.273 0.272088 285.234 0.370297 285.234H373.63C373.728 285.234 373.822 285.273 373.892 285.343C373.961 285.412 374 285.507 374 285.605C374 285.704 373.961 285.798 373.892 285.868C373.822 285.937 373.728 285.976 373.63 285.976Z"
            fill="#3F3D56"
          />
          <path
            d="M199.506 250.052C199.516 249.205 199.19 248.389 198.6 247.783C198.009 247.176 197.203 246.83 196.358 246.819H180.806V285.234H199.506V250.052Z"
            fill="#3F3D56"
          />
          <path
            d="M181.176 284.863H161.735V250.16C161.736 249.225 162.107 248.329 162.767 247.668C163.426 247.007 164.32 246.635 165.253 246.634H181.176V284.863ZM162.476 284.121H180.435V247.376H165.253C164.517 247.377 163.811 247.67 163.29 248.192C162.769 248.714 162.477 249.422 162.476 250.16V284.121Z"
            fill="#3F3D56"
          />
          <path
            d="M164.142 268.346C164.756 268.346 165.253 267.848 165.253 267.233C165.253 266.618 164.756 266.12 164.142 266.12C163.529 266.12 163.031 266.618 163.031 267.233C163.031 267.848 163.529 268.346 164.142 268.346Z"
            fill="#3F3D56"
          />
        </svg>
      </div>
    </div>
    <div class="col margin-first">
      <div class="formulario">
        <h1>Cadastre sua imobiliária aqui</h1>
        <form>
          <div class="mb-2">
            <label for="nome" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              aria-describedby="nome"
              [(ngModel)]="imobiliaria.nome"
            />
          </div>
          <div class="mb-2">
            <label for="telefone" class="form-label">Telefone</label>
            <input
              type="text"
              class="form-control"
              id="telefone"
              name="telefone"
              [(ngModel)]="imobiliaria.telefone"
              aria-describedby="telefone"
            />
          </div>
          <p><b>Endereço</b></p>
          <div class="row">
            <div class="col"><div class="mb-2">
            
              <label for="rua" class="form-label">Rua</label>
              <input
                type="text"
                class="form-control"
                id="rua"
                name="rua"
                [(ngModel)]="imobiliaria.rua"
                aria-describedby="rua"
              />
            </div></div>
            <div class="col-2"><div class="mb-2">
            
              <label for="numero" class="form-label">Número</label>
              <input
                type="text"
                class="form-control"
                id="numero"
                name="numero"
                [(ngModel)]="imobiliaria.numero"
                aria-describedby="numero"
              />
            </div></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="cidade" class="form-label">Cidade</label>
                <input
                  type="text"
                  class="form-control"
                  id="cidade"
                  name="cidade"
                  [(ngModel)]="imobiliaria.cidade"
                  aria-describedby="cidade"
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-1">
                <label for="bairro" class="form-label">Bairro</label>
                <input
                  type="text"
                  class="form-control"
                  id="bairro"
                  name="bairro"
                  [(ngModel)]="imobiliaria.bairro"
                  aria-describedby="bairro"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="cep" class="form-label">CEP</label>
                <input
                  type="text"
                  class="form-control"
                  id="cep"
                  name="cep"
                  [(ngModel)]="imobiliaria.cep"
                  aria-describedby="cep"
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-2">
                <label for="uf" class="form-label">UF</label>
                <input
                  type="text"
                  class="form-control"
                  id="uf"
                  name="uf"
                  [(ngModel)]="imobiliaria.uf"
                  aria-describedby="uf"
                />
              </div>
            </div>
            
          </div>
         
          <div class="row">
            <div class="mb-2">
              <label for="cnpj" class="form-label">CNPJ</label>
              <input
                type="text"
                class="form-control"
                id="cnpj"
                name="cnpj"
                [(ngModel)]="imobiliaria.cnpj"
                aria-describedby="cnpj"
              />
            </div>
            <div class="mb-2">
              <label for="ie" class="form-label">IE</label>
              <input
                type="text"
                class="form-control"
                id="ie"
                name="ie"
                [(ngModel)]="imobiliaria.ie"
                aria-describedby="ie"
              />
            </div>
            <div>
              <label for="razao_social" class="form-label">Razão Social</label>
              <input
                type="text"
                class="form-control"
                id="razao_social"
                name="razao_social"
                [(ngModel)]="imobiliaria.razao_social"
                aria-describedby="razao_social"
              />
            </div>
          </div>
          <button type="button" class="btn btn-lg" (click)="cadastrarImobiliaria()">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>