<div class="container-fluid shadow-sm">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      <span class="fs-4 ms-2">IMOBLES</span>
    </a>
    <ul *ngFor="let pagina of paginas" class="nav nav-pills">
      <li class="nav-item"><a [routerLink]="pagina.path" class="nav-link" aria-current="page">{{pagina.text}}</a></li>
    </ul>
  </header>
</div>
