* {
  font-family: 'DM Sans', sans-serif;
}

a.d-flex {
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-inline: 1rem;
  color: black;
}

a.d-flex:hover {
  color: #6C63FF;
}

li.nav-item > a {
  color: black;
}

li.nav-item > a:hover {
  font-weight: bold;
}