<div class="container-fluid">
  <div class="row space">
    <div class="col margin-first">
      <div class="img">
        <img src="../../../assets/images/contract.png" alt="">
      </div>
    </div>
    <div class="col margin-first">
      <div class="formulario">
        <h1>Crie o contrato do cliente com a imobiliaria</h1>
        <form>
          <div class="mb-2">
            <label for="data_inicial" class="form-label">Data inicial do contrato</label>
            <input
              type="date"
              class="form-control"
              id="data_inicial"
              name="data_inicio"
              [(ngModel)]="contrato.data_inicio"
            />
          </div>
          <div class="mb-2">
              <label for="data_termino" class="form-label">Data do término do contrato</label>
              <input
                type="date"
                class="form-control"
                id="data_termino"
                name="data_termino"
                [(ngModel)]="contrato.data_termino"
              />
          </div>
          <div class="mb-2">
              <label for="tipo" class="form-label">Tipo de venda do contrato:</label>
              <select class="form-select" id="tipo_contrato" name="tipo" [(ngModel)]="contrato.tipo">
                  <option selected disabled>Selecione</option>
                  <option value="aluguel">Aluguel</option>
                  <option value="venda">Venda</option>
              </select>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="valor_combinado" class="form-label">Valor combinado</label>
                <input
                  type="number"
                  class="form-control"
                  id="valor_combinado"
                  name="valor_combinado"
                  [(ngModel)]="contrato.valor_combinado"
                />
              </div>
            </div>
            <div class="col">
              <div class="mb-2">
                <label for="fiador" class="form-label">Fiador</label>
                <input
                  type="text"
                  class="form-control"
                  id="fiador"
                  name="fiador"
                  [(ngModel)]="contrato.fiador"
                />
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-lg" (click)="cadastrarContrato()">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>